.header{
  
    margin: 0;
    
    padding: 20px;
    background-image:linear-gradient(to bottom right,blue,lightblue, silver,orange ,yellow);
    text-align: center;
    height: 70px;
}

.header h1{
    font-size: 3rem;
    margin: 0;
}


@media only screen and (max-width: 486px) {
    .header{

        height: 50px;  
    }
    
    .header h1{
        font-size: 2rem;
    }
}
