.header{
    margin: 0;
    margin-top: 10px;
    padding: 20px;
    background-image:linear-gradient(to bottom right,blue,lightblue, silver,orange ,yellow);
    text-align: center;
    height: 70px;
}

.header h1{
    font-size: 50px;
    margin: 0;
}



@media screen and (max-width: 468px) {
    .header{
        width: 100%;
        
        /* margin:1%; */
    }
    .header h1{
        font-size: 20px;
        
    }
}