.app {
  background-image: radial-gradient(silver,lightblue,blue);
  text-align: center;
  display: grid;
  flex-direction: column;
  
}


@media only screen and (width: 768px) {
    /* .app{
      width: 100%;
      
    } */
}